body {
	background-color: rgb(20, 20, 20);
	color: white;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main, nav {
	margin-left: 10vw;
	margin-right: 10vw;
}
a {
	color: #ff7400;
}
a:visited {
	color: #f9ae71
}
a:active {
	color: #005cfc;
}